@model sclad.Models.ViewModels.ItemUserVM

<form method="post" id="payment-form">
    <br />
    <div class="backgroundWhiteBorder">
        <div class="container">
            <div class="card">
                <div class="card-header bg-dark text-light m-0 p-3 row container">
                    <div class="col-6">
                        <i class="fa fa-shopping-cart"></i> &nbsp;
                        Order Summary
                    </div>
                    <div class="col-6 text-end">
                        <a asp-action="Index" asp-controller="Cart" class="btn btn-outline-info btn-sm">Back to Cart</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-7 pb-4">
                                <div class="row">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">PickUp Details:</span>
                                    </h4>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.FullName" type="text" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.FullName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.PhoneNumber" type="text" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.Email" type="text" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Улица</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.StreetAdress" type="text" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.StreetAdress" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Город</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.City" type="text" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.City" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Индекс</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.PostalCode" type="text" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.PostalCode" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Страна</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.State" type="text" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.State" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5 row">
                                <div class="col-12">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">Summary:</span>
                                    </h4>
                                    <ul class="list-group mb-3">
                                        @{
                                            decimal orderTotal = 0;
                                        }
                                        @for(int i = 0; i < Model.ItemList.Count(); i++)
                                        {
                                        <input type="hidden" asp-for="@Model.ItemList[i].Name"/>
                                            <input type="hidden" asp-for="@Model.ItemList[i].Id" />
                                            <input type="hidden" asp-for="@Model.ItemList[i].Price" />
                                            <input type="hidden" asp-for="@Model.ItemList[i].TempKol" />
                                            <li class="list-group-item d-flex justify-content-between">
                                                <div>
                                                    <h6 class="my-0">@Model.ItemList[i].Name</h6>
                                                    <small class="text-muted">Кол: @Model.ItemList[i].TempKol @(Model.ItemList[i].ItemType.Unit)</small>
                                                    
                                                </div>
                                                <span class="text-muted">@(Model.ItemList[i].Price*Model.ItemList[i].TempKol)р</span>
                                            </li>
                                            orderTotal += Model.ItemList[i].Price * Model.ItemList[i].TempKol;
                                        }
                                        <li class="list-group-item d-flex justify-content-between bg-light">
                                            <small class="text-info">Итог:</small>
                                            <strong class="text-info">@(orderTotal)р</strong>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-12">
                                    <div class="wrapper">
                                        <div class="checkout container">
                                            <div id="dropin-container"></div>
                                            <input id="nonce" name="payment_method_nonce" type="hidden"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 col-md-5 offset-md-7">
                            <button class="btn btn-success form-control" id="submit-button">Сделать заказ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://js.braintreegateway.com/web/dropin/1.40.2/js/dropin.min.js"></script>
    <script>
        var client_token = "@ViewBag.ClientToken";
        var form = document.querySelector('#payment-form');
        braintree.dropin.create({
            authorization: client_token,
            container:'#dropin-container'
        }, function(createErr, instance) {
            form.addEventListener('submit',function (){
                event.preventDefault();
                instance.requestPaymentMethod(function(err, payload){
                    document.querySelector('#nonce').value = payload.nonce;
                    form.submit();
                });
            });
        });
    </script>
}