@page
@model LoginModel
<div class="row form-floating">
    <div class="col-8 offset-2">
        <div class="card">
            <div class="card-body px-lg-5 pt-4">

                <h1 class="h3 mb-3 font-weight-normal text-info pt-4" style="text-align:center;">Sign In</h1>
                @if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div class="text-center">
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                @if (provider.Name.ToLower().Contains("google"))
                                {
                                    <button type="submit" class="btn btn-block facebook-btn form-control"
                                            name="provider" value="@provider.Name"
                                            title="Log in using your @provider.DisplayName account">
                                        <i class="fa-brands fa-google"></i>
                                    </button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-danger form-control" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            }
                        </div>
                    </form>
                }
                <br />

                <form id="account" method="post">
                    @if (Model.ExternalLogins?.Count > 0)
                    {
                        <p style="text-align:center">OR</p>
                    }

                    <input asp-for="Input.Email" placeholder="Email..." type="email" class="mb-1 form-control" />
                    <input asp-for="Input.Password" placeholder="Password..." type="password" class="form-control" />
                    <button type="submit" class="btn btn-success btn-block form-control"><i class="fas fa-sign-in-alt"></i> Log in</button>

                    <a id="forgot-password" asp-page="./ForgotPassword" class="pb-2 text-info ">Forgot your password?</a>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-info text-white">Register as a new user</a>


                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }
