@page
@model RegisterModel


<div class="py-4">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row form-floating">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-body px-lg-5 pt-4">
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h3 class="col-12 text-success text-center py-4">
                        @if (User.IsInRole(sclad.WC.AdminRole))
                        {
                            <strong>Создать админа</strong>
                        }
                        else
                        {
                            <strong>Регистрация</strong>
                        }
                        </h3>
                        <hr />
                        <div class="py-2">
                            <input asp-for="Input.FullName" placeholder="Name" class="form-control"   />
                            <span asp-validation-for="Input.FullName" class="text-danger"></span>
                        </div>

                        <div class="py-2">
                            <input asp-for="Input.Email" placeholder="Email" type="email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <div class="py-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">+1</span>
                                </div>
                                <input asp-for="Input.PhoneNumber" placeholder="Phone Number" class="form-control" type="text"/>
                            </div>
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>

                        <div class="py-2 d-flex flex-wrap">
                            <div class="col-6">
                                <input asp-for="Input.Password" placeholder="Password" class="form-control" type="password" />
                                
                            </div>
                            <div class="col-6">
                                <input asp-for="Input.ConfirmPassword" placeholder="Confirm Password" class="form-control" type="password" />
                                
                            </div>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="py-2">
                            @if (User.IsInRole(sclad.WC.AdminRole))
                            {
                                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-warning form-control">Register Admin</button>
                            }
                            else
                            {
                                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary form-control">Register</button>
                            }
                        </div>
                    </form>
                    <hr />
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div class="row">
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    @if (provider.Name.ToLower().Contains("google"))
                                    {
                                        <button type="submit" class="btn btn-block facebook-btn form-control"
                                                name="provider" value="@provider.Name"
                                                title="Log in using your @provider.DisplayName account">
                                            <i class="fa-brands fa-google"></i>
                                        </button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-danger w-100" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                }
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>








@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
